$layout-margin: 8px;
$layout-margin-md: 5%;
$layout-margin-lg: 10%;
$layout-margin-xl: 10%;

$button-padding-small: $layout-margin;
$button-padding-medium: $layout-margin * 1.5;

$navbar-height: 120px;

$footer-height: 50px;
$footer-text: 15px;

$sidebar-width: $layout-margin * 28;

//font sizes:
$font-small: 0.85rem;
$font-smaller: 0.75rem;
$font-large: 1.05rem;
$font-medium: 0.9rem;
