@import "../../../app/styles";

.PortfolioNavbar {
  height: $navbar-height;
}

.mode-dark {
  .PortfolioNavbar {
    box-shadow: $box-shadow-dark-downwards;
  }
}

.mode-light {
  .PortfolioNavbar {
    box-shadow: $box-shadow-light-downwards;
  }
}
