@import "../../../app/styles";

.PortfolioPresentation {
  background-color: lightgreen;
  height: 40rem;
}

.PortfolioPresentation__Image {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
}
