@import "../../../app/styles";

.PortfolioPresentation {
  min-height: 40rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $layout-margin * 2 5%;
}

.PortfolioPresentation__Image {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
}

.PortfolioPresentation__Title,
.PortfolioPresentation__Subtitle,
.PortfolioPresentation__Description {
  text-align: center;
  margin-bottom: $layout-margin;
}

.PortfolioPresentation__Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-size: 1.8rem;
}

.PortfolioPresentation__Subtitle {
  font-weight: 600;
  font-size: 1.4rem;
}

.PortfolioPresentation__Description {
  font-size: 1.1rem;
  font-weight: 400;
}

.PortfolioPresentation__Buttons {
  gap: $layout-margin;
  display: flex;
  flex-direction: column;
  margin-top: $layout-margin;
  button {
    width: 241px;
  }
  svg {
    margin-right: $layout-margin/2;
  }
}

.mode-dark {
  .PortfolioPresentation__Title__Name {
    color: $primary;
  }
}

.mode-light {
  .PortfolioPresentation__Title__Name {
    color: $secondary;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .PortfolioPresentation {
    min-height: 53rem;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .PortfolioPresentation {
    padding: $layout-margin * 2 15%;
  }
  .PortfolioPresentation__Buttons {
    display: flex;
    flex-direction: row;
  }
}
